<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Carousell_Reddit</h1>
          <a style="outline: none" href="/articles/new"><button>Published new article</button></a>
          <a style="outline: none" href="/articles"><button>All articles</button></a>
        </div>
      </div>
    </div>
  </body>
</html>