<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
    <h1>All Articles</h1>
    <header>
      <% include ../partials/header %>
    </header>
    <br>
    <% articles.forEach(function(article){ %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <span>0</span>
          <div class="btn-group" style="float:right;">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-down"></span></button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading"><%= article.title %></h4>
              <%= article.content %>    
              <div class="clearfix"></div>                
            </div>
          </div>
        </div>
      </div>
    <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>