<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Carousell Reddit</title>
  </head>
  <body>
    <h1>Published new articles</h1>
    <form action='/articles' method='post'>
      <label>article title</label><br>
      <input type='text' name='title'><br>
      <label>article content</label><br>
      <textarea name='content' cols="50" rows="5"></textarea><br>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>